<?xml version="1.0"?>

<model>
  <name>image_trailer_dock</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Rodrigo Gonzalez - The Construct</name>
    <email>rgonzalez@theconstructsim.com</email>
  </author>

  <description>
    Tortoisebot Warehouse trailer dock image
  </description>
</model>
